/*==================ОБЩИЕ СТИЛИ==================*/
body {
	margin: 0;
    padding: 0;

	font-family: 'Roboto', sans-serif, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}


/*==================СТИЛИ КНОПОК==================*/
.button,
.btn {
    font-size: 16px;
    line-height: 18px;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;    
    text-transform: uppercase;

    border: none;
    border-radius: 3px;

    display: inline-block;

    text-decoration: none;
    cursor: pointer;
}

.button:focus,
.btn:focus,
.button:active,
.btn:active {
    color: rgba(40, 49, 54, 0.3);
}

.long-button,
.long-btn {
    background-color: #fb565a;
}

.long-button:hover,
.long-btn:hover,
.long-button:focus,
.long-btn:focus {
    background-color: #e74246;
}

.long-button:active,
.long-btn:active {
    background-color: #d7373b;
}

.promo-slider .long-button{
    padding: 15px 55px;
}

.advantage-item a {
    padding: 15px 35px;
}

.button-web {
    background-color: #fb565a;
}

.button-web:hover {
    background-color: #e74246;
}

.button-web:focus,
.button-web:active {
    background-color: #d7373b;
} 


.button-app {
    background-color: #00ca74;
}

.button-app:hover {
    background-color: #00bc6c;
}

.button-app:focus,
.button-app:active {
    background-color: #00aa62;
} 

.button-presentations {
    background-color: #efc84a;
}

.button-presentations:hover {
    background-color: #eab534;
}

.button-presentations:focus,
.button-presentations:active {
    background-color: #e5a722;
}

.contacts .long-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 15px 45px;
}

.long-btn {
    padding: 15px 80px;
}

.btn-show {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    color: #000000;
    font-weight: 500;
}

.btn-show:hover {
    background-color: #dfdfdf;
}

.btn-show:focus,
.btn-show:active {
    background-color: #d5d5d5;
    color: rgba(40, 49, 54, 0.3);
}

.item-price {
    color: #ffffff;
    background-color: #fb565a;
    padding: 15px 40px;
}

.item-price:hover {
    background-color: #e74246;
}

.item-price:focus,
.item-price:active {
    background-color: #d7373b;
}




/*==================СТИЛИ HEADER И НАВИГАЦИИ==================*/
.main-header {
    width: 1440px;
    margin: 0 auto;
}

.logotype:hover {
    opacity: 1;
}

.logotype:active,
.logotype:focus {
    opacity: 0.3;
}

.main-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    background-color: #eeeeee;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-items,
.promo-slider,
.advantages-list,
.orders,
.portfolio-list,
.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.main-nav a {
    color: #000000;
}

.main-nav a:hover {
    color: #fb565a;
}

.main-nav a:active,
.main-nav a:focus {
    color: rgba(0, 0, 0, 0.3);
}


/*==================СТИЛИ МЭЙНА==================*/
.main-content {
    width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
}

.main-content-promo {
    background-color: #eeeeee;
}

.promo-slider h2 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    padding: 0;
}

.main-content-advantages,
.main-content-studio,
.main-content-portfolio {
    border-bottom: 2px solid #eeeeee;
}

.advantage-item {
    text-align: center;
}

.advantage-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.content-studio-left b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.content-studio-left h3,
.content-studio-right h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.info-table-top th {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    padding: 20px;
}

.info-table-bottom th {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.portfolio-list img {
    opacity: 0.2;
}

.portfolio-list img:hover {
    opacity: 1;
}

.portfolio-list img:focus,
.portfolio-list img:active {
    opacity: 0.1;
}

/*.main-content-map {
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}*/

.contacts {
    background-color: #ffffff;
}

.contacts h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}


/*==================СТИЛИ ФУТЕРА==================*/
.main-footer {
  color: #444444;
  background-color: #ffffff;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #444444;
}

.footer-sale b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.footer-sale p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}




/*==================СТИЛИ ФОРМЫ ГЛАВНОЙ СТРАНИЦЫ==================*/
.form-container {
    margin: 10px;  /*временные*/
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    width: 960px;
    height: 590px;
    background-color: #ffffff;
    padding: 30px; /*временные*/
}

.form-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
    color: #000000;
}

.form-letter input[type="text"],
.form-letter input[type="email"],
.form-letter textarea {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  font-weight: 400;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  padding: 10px 0;
}

.form-letter input[type="text"]:hover,
.form-letter input[type="email"]:hover,
.form-letter textarea:hover {
    border-color: #b4b9bb;
}

.form-letter input[type="text"]:active,
.form-letter input[type="email"]:active,
.form-letter input[type="text"]:focus,
.form-letter input[type="email"]:focus,
.form-letter textarea:active,
.form-letter textarea:focus {
    border-color: #000000;
}

.label-name {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
}

/*input:invalid {
  border-color: red;
}*/




/*==================СТИЛИ СТРАНИЦЫ КАТАЛОГА==================*/
.catalog-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    padding-top: 65px;
    padding-bottom: 105px;
    margin: 0 auto;
    text-align: center;
    background-color: #eeeeee;
}

.filter-container {
    width: 320px;
    margin-top: 60px;
    margin-left: 140px;
}

.filter-title-grid,
.filter-title-features {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.circle,
.check {
    color: #283136;
}

.circle:hover {
    color: #000000;
}

.check:hover {
    color: #283136;
}

.filter,
.filter-install {
    border: none;
    margin-bottom: 50px;
}

.filter-scroll {
    
}

.scroll-control {
    width: 260px;
    height: 80px;
    background-color: #eeeeee;
    margin-bottom: 14px;
    border-radius: 2px;
}

.filter-price {
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 50px;
    justify-content: space-between;
}

.filter-price span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #283136;
    padding-top: 10px;
}

input[type="text"].price-min,
input[type="text"].price-max {
    width: 80px;
    height: 38px;
    text-align: center;
    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
}

.filter-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-container li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #283136;
    padding: 5px 0;
}

.portfolio-container {
    width: 800px;
    margin-top: 60px;
    margin-left: 140px;
}

.portfolio-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.portfolio-items,
.catalog-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio-items li,
.portfolio-item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
}

.portfolio-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.portfolio-item:focus,
.portfolio-item:active {
    color: rgba(0, 0, 0, 1);
}

.catalog-item-wrapper {
    width: 360px;
    height: 620px;
    margin: 20px;
}

.catalog-item-wrapper:hover {
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
}


.item-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-bottom p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.pages {
    margin-bottom: 60px;
}


.pages-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pages-items li {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
    margin: 0 5px;
}

.item-page {
    color: #000000;
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: #eeeeee;
    border-radius: 2px;
}

.item-page:hover {
    background-color: #dfdfdf;
}

.item-page:focus {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.item-page:active,
.active-item-page,
.active-item-page:hover  {
    background-color: #ffffff;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    box-sizing: border-box;
}

.next-page {
    padding: 15px 50px;
}