/*==================ОБЩИЕ СТИЛИ==================*/
body {
    min-width: 1440px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    background-color: transparent;
}


/*==================СТИЛИ HEADER И НАВИГАЦИИ==================*/
.main-header {
    min-height: 545px;
    margin-bottom: 80px;
    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    padding-top: 48px;
    padding-bottom: 0;
    padding-right: 20px;
}

.logotype:hover,
.logotype:focus {
    opacity: 0.8;
}

.logotype:active {
    opacity: 0.3;
}

.main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;

    background-color: #eeeeee;
    text-transform: uppercase;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-content-promo .container {
    background-color: #eeeeee;
}

.nav-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    width: 520px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-items a,
.nav-basket {
    position: relative;

    display: block;
    padding-top: 75px;
    padding-right: 45px;
    padding-bottom: 0;

    color: #000000;
    vertical-align: middle;
}

.nav-items a:hover,
.nav-basket:hover,
.nav-items a:focus,
.nav-basket:focus {
    color: #fb565a;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav-items a:active,
.nav-basket:active {
    color: rgba(0, 0, 0, 0.3);
}

.active-page::after {
    content: "";
    position: absolute;
    right: 45px;
    bottom: -5px;
    left: 0px;

    height: 2px;

    background-color: #fb565a;
}

.nav-basket {
    position: relative;

    display: block;

    max-width: 76px;
    padding-top: 75px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;

    vertical-align: middle;
}

.nav-basket::before {
    position: absolute;

    content: "";
    bottom: 8px;
    left: -20px;

    width: 15px;
    height: 15px;

    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.main-content-promo {
    position: relative;
    background-color: transparent;
}

.slider-controls {
    position: absolute;

    bottom: 104px;
    left: 50%;
    z-index: 100;

    width: 160px;
    height: 18px;

    font-size: 0;
    text-align: center;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;

    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background-color: #ffffff;
    border-radius: 50%;
}

.promo-slider {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide {
    display: none;

    padding: 78px 0 80px 0;
}

.slide:nth-child(1) {
    background-color: #eeeeee;
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position: 397px 1px;
}

.slide:nth-child(2) {
    background-color: #eeeeee;
    background-image: url("../img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: 399px 1px;
}

.slide:nth-child(3) {
    background-color: #eeeeee;
    background-image: url("../img/nerds-index-slide3.png");
    background-repeat: no-repeat;
    background-position: 401px 0;
}

#slide-1:checked ~ .promo-slider .slide:nth-child(1),
#slide-2:checked ~ .promo-slider .slide:nth-child(2),
#slide-3:checked ~ .promo-slider .slide:nth-child(3) {
    display: block;
}

#slide-1:checked ~ .slider-controls .slider-controls-item-1::before,
#slide-2:checked ~ .slider-controls .slider-controls-item-2::before,
#slide-3:checked ~ .slider-controls .slider-controls-item-3::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.promo-slider h2 {
    max-width: 600px;

    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slide p {
    max-width: 430px;

    margin: 0;
    margin-bottom: 39px;
}


/*==================СТИЛИ МЭЙНА==================*/
.container-wrap {
    margin-bottom: 80px;
}

.main-content-advantages {
    position: relative;

    margin-bottom: 40px;
    padding-bottom: 42px;

    background-color: transparent;
}

.main-content-advantages::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    left: 0;

    height: 2px;

    background-color: #eeeeee;
}

.advantages-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.advantage-item {
    width: 300px;
    margin: 0 50px;
    margin-bottom: 40px;
    padding: 0;

    text-align: left;
}

.advantage-item:nth-child(3n+1) {
    margin-left: 0;
}

.advantage-item h3 {
    margin-top: 18px;
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantage-item p {
    max-width: 245px;
}

.index-columns {
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding-bottom: 51px;
}

.index-columns::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    left: 0;

    height: 2px;

    background-color: #eeeeee;
}

.studio-info-left {
    width: 680px;
    padding-top: 35px;
}

.studio-info-left h2 {
    margin: 0;
    margin-bottom: 30px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.studio-info-left h3 {
    margin-top: 40px;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.studio-info-right {
    width: 360px;

    text-align: left;
}

.orders {
    margin: 0;
    padding: 0;

    list-style: none;
}

.orders li {
    position: relative;

    margin: 24px 36px;
}

.orders li::before {
    position: absolute;
    content: "";
    bottom: 11px;
    left: -26px;

    width: 25px;
    height: 2px;
    margin-left: -10px;

    background-color: #fb565a;
}

.studio-info-right h3 {
    margin-top: 29px;
    margin-bottom: 37px;
    margin-left: 17px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.info-table-top th {
    padding-top: 18px;
    padding-right: 17px;
    padding-left: 0px;

    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    text-align: left;
}

.info-table-top sup {
    font-size: 28px;
}

.info-table-bottom th {
    padding-top: 35px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}

.main-content-portfolio {
    position: relative;
}

.main-content-portfolio::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0px;
    left: 0;

    height: 2px;
    background-color: #eeeeee;
}

.portfolio-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 1160px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.portfolio-list li {
    width: 260px;
    height: 182px;
    margin-right: 40px;
}

.portfolio-list li:nth-child(4n) {
    margin-right: 0;
}

.portfolio-logos {
    position: relative;

    width: 260px;
    height: 182px;
}

.portfolio-logos::before {
    position: absolute;
    content: "";
    bottom: 68px;
    left: -20px;

    width: 2px;
    height: 52px;

    background-color: #eeeeee;
}

.portfolio-list img {
    opacity: 0.2;
    -webkit-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
}

.portfolio-list img:hover,
.portfolio-list img:focus {
    opacity: 1;
}

.portfolio-list img:active {
    opacity: 0.1;
}

.main-content-map {
    max-width: 1440px;
    height: 418px;
    margin: 0 auto;

    background-color: #e9e5dc;
    background-image: url("../img/map-marker.png"), url("../img/map.png");
    background-repeat: no-repeat;
    background-position: 820px 89px, 0 -150px;
}

.live-map {
    position: relative;

    width: 100%;
    height: auto;
    margin: 0 auto;

    overflow: hidden;
}

.live-map iframe {
    display: block;

    margin: auto;

    z-index: 5;
}


.contacts {
    position: absolute;

    width: 270px;
    height: 308px;
    margin-top: 54px;
    margin-left: 140px;
    padding-left: 50px;

    background-color: #ffffff;

    z-index: 2;
}

.contacts h2 {
    padding-top: 35px;
    padding-bottom: 7px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.contacts a {
    margin-top: 38px;
}


/*==================СТИЛИ СТРАНИЦЫ КАТАЛОГА==================*/
.inner-header {
    min-height: 355px;
    margin-bottom: 55px;
}


.catalog-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/**************СТИЛИ ASIDE*************/
.filter-container {
    width: 320px;
    margin-right: 110px;
}

.filter-container ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-container li {
    padding: 10px 0;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #283136;
}

.filter-item {
    width: 260px;
    margin-top: 4px;
    margin-bottom: 53px;
    margin-right: 20px;
    padding: 0;

    border: none;
}

.filter-title,
.filter-title-grid,
.filter-title-features {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
/*****************************/

.range-filter {
    width: 260px;
    margin-top: 50px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
    box-shadow: 0 2px 1px 0 #cfcfcf;

    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    margin-left: 10px;
    padding: 10px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    background: #f1f1f1;
    border: none;
    border-radius: 5px;
}

.max-price {
    text-align: right;
}
/*****************************/

.filter-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 260px;
    height: 50px;
}

.filter-price span {
    padding-top: 10px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #283136;
    text-transform: uppercase;
}

input[type="text"].price-min,
input[type="text"].price-max {
    width: 80px;
    height: 38px;

    text-align: center;
    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
}

.filter-install {
    width: 260px;
    margin: 0;
    padding: 0;

    border: none;
}

.filter-install-grid {
    margin-bottom: 34px;
}

.filter-install-features {
    margin-bottom: 38px;
}

.filter-title-grid,
.filter-title-features {
    padding-bottom: 7px;
}

/*****************************************************/
input[type=radio]+.circle {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #283136;

    background-image: url(../img/radio-off-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
}

input[type=radio]+.circle:hover {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #000000;

    background-image: url(../img/radio-off-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;

    -webkit-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;

    cursor: pointer;
}

input[type=radio]+.circle:disabled {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: rgba(40, 49, 54, 0.3);

    background-image: url(../img/radio-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
}
/*****************************************************/

/*****************************************************/
input[type=radio]:checked + .circle {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #283136;

    background-image: url(../img/radio-on-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
}

input[type=radio]:checked + .circle:hover {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #000000;

    background-image: url(../img/radio-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;

    -webkit-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;

    cursor: pointer;
}

input[type=radio]:checked + .circle:disabled,
input[type=radio]:disabled + .circle {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: rgba(40, 49, 54, 0.3);

    background-image: url(../img/radio-on-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
}
/*****************************************************/

/*****************************************************/
input[type=checkbox]+ .check {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #283136;

    background-image: url(../img/checkbox-off-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px;
}

input[type=checkbox]+ .check:hover {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #000000;

    background-image: url(../img/checkbox-off-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px;

    -webkit-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;

    cursor: pointer;
}

input[type=checkbox]+ .check:disabled,
input[type=checkbox]:disabled + .check {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: rgba(40, 49, 54, 0.3);

    background-image: url(../img/checkbox-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px; 
}
/*****************************************************/

/*****************************************************/
input[type=checkbox]:checked + .check {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #283136;

    background-image: url(../img/checkbox-on-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px;
}

input[type=checkbox]:checked + .check:hover {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: #000000;

    background-image: url(../img/checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px;

    -webkit-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;

    cursor: pointer;
}

input[type=checkbox]:checked + .check:disabled {
    width: 100%;
    height: auto;
    padding: 10px 35px;

    color: rgba(40, 49, 54, 0.3);

    background-image: url(../img/checkbox-on-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 7px;
}
/*****************************************************/

.catalog-title {
    min-width: 760px;
    margin: 0 auto;
    padding-top: 79px;
    padding-bottom: 35px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    text-align: center;

    background-color: #eeeeee;
}

.portfolio-container {
    width: 800px;
    margin-bottom: 49px; 
}

.portfolio-frame {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    max-width: 760px;
    margin-bottom: 55px;
}

.portfolio-title {
    display: block;
    width: 360px;
    padding-top: 5px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.portfolio-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;

    margin: 0;
    padding: 0;
    padding-right: 9px;

    list-style: none;
}

.portfolio-items li {
    padding: 0 13px;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.portfolio-items .portfolio-item-price {
    color: rgba(0, 0, 0, 1);
}

.portfolio-item {
    color: rgba(0, 0, 0, 0.3);
}

.control-arrows {
    display: inherit;
    width: 42px;
}

.control-arrow-active,
.control-arrow-down,
.control-arrow-up {
    display: block;
    width: 15px;
    height: 20px;

    background-repeat: no-repeat;
}

.control-arrow-down {
    width: 100%;
    height: auto;
    padding-right: 10px;

    background-image: url("../img/icon-down-dir-peace.svg");
    background-position: 0 8px;
}

.control-arrow-down:hover {
    width: 100%;
    height: auto;

    background-image: url("../img/icon-down-dir-hover.svg");
}

.control-arrow-down:active,
.control-arrow-active {
    width: 100%;
    height: auto;

    background-image: url("../img/icon-down-dir-active.svg");
}

.control-arrow-up {
    width: 100%;
    height: auto;

    background-image: url(../img/icon-up-dir-peace.svg);
    background-position: 4px 8px;
} 

.control-arrow-up:hover {
    width: 100%;
    height: auto;

    background-image: url(../img/icon-up-dir-hover.svg);
}

.control-arrow-up:active {
    width: 100%;
    height: auto;

    background-image: url(../img/icon-up-dir-active.svg);
}

.portfolio-item:hover,
.portfolio-item:focus {
    color: rgba(0, 0, 0, 0.6);
}

.portfolio-item:active {
    color: rgba(0, 0, 0, 1);
}

.catalog-gallery-wrapper {
    width: 760px;
}

.catalog-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    list-style: none;
}

.catalog-item {
    position: relative;

    width: 360px;
    height: 576px;
    margin-bottom: 33px;
    padding-top: 40px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.catalog-item::before {
    position: absolute;
    content: url("../img/browser.svg");
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    opacity: 0.3;
}

.catalog-item:hover,
.catalog-item:focus {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.catalog-item:hover::before {
    width: 360px;
    height: 40px;

    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.catalog-item .catalog-item-bottom {
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
    width: 360px;
    min-height: 231px;
    padding: 0px 60px;

    text-align: center;

    background-color: #eeeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.catalog-item:hover .catalog-item-bottom {
    display: block;

    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.item-name {
    margin-top: 27px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-bottom p {
    max-height: 384px;
    margin-bottom: 29px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;

    overflow: auto;
}

.pages {
    width: 460px;
    margin-top: 20px;
}

.pages-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 12px 0;
    padding: 0;

    list-style: none;
}

.pages-items li {
    margin-right: 11px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.item-page,
.next-page {
    display: block;
    padding: 15px 20px;

    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
    border-radius: 2px;
}

.item-page:hover,
.next-page:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.item-page:focus,
.next-page:focus {
    padding: 13px 18px;

    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    cursor: pointer;
}

.item-page:active,
.next-page:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.item-page:active {
    padding: 15px 20px;

    border: none;
}

.next-page {
    padding: 15px 78px;
}

.next-page:focus {
    padding: 13px 76px;
}

.next-page:active {
    padding: 15px 78px;

    border: none;
}

.item-page-active {
    padding: 13px 18px;

    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
}


/*==================СТИЛИ ФУТЕРА==================*/
.main-footer {
    margin-top: 50px;
    margin-bottom: 50px;

    color: #444444;

    background-color: #ffffff;
}

.main-footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.footer-social {
    width: 262px;
    margin: 0;
    margin-right: 118px;
    padding-top: 19px;
}

.footer-social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 260px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 78px;
    height: 78px;

    color: #444444;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.social-button:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.social-button-vkontacte {
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 26px 30px;
}

.social-button-vkontacte:active {
    background-image: url("../img/vk-icon-active.svg");
    background-repeat: no-repeat;
    background-position: 26px 30px;
}

.social-button-facebook {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 32px 28px;
}

.social-button-facebook:active {
    background-image: url("../img/fb-icon-active.svg");
    background-repeat: no-repeat;
    background-position: 32px 28px;
}

.social-button-instagram {
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 28px 28px;
}

.social-button-instagram:active {
    background-image: url("../img/insta-icon-active.svg");
    background-repeat: no-repeat;
    background-position: 28px 28px;
}

.footer-slogan {
    width: 580px;
    margin: 0 20px;
    padding-top: 20px;
}

.footer-slogan b {
    display: block;

    max-width: 580px;
    padding-top: 5px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.footer-slogan p {
    margin: 10px 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}


/*==================СТИЛИ КНОПОК==================*/
.button,
.btn {
    display: block;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    border-radius: 3px;
    border: none;
}

.button:active,
.btn:active {
    color: rgb(255, 255, 255);

    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.learn-more-button,
.write-button,
.send-btn {
    background-color: #fb565a;
}

.learn-more-button {
    width: 240px;
    padding: 16px 0;
}

.learn-more-button:hover,
.write-button:hover,
.send-btn:hover,
.learn-more-button:focus,
.write-button:focus,
.send-btn:focus {
    background-color: #e74246;
    outline: none;
}

.learn-more-button:active,
.write-button:active,
.send-btn:active {
    background-color: #d7373b;
    outline: none;
}

.learn-more-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-web,
.button-app,
.button-presentations {
    width: 160px;
    margin-top: 32px;
    padding: 16px 0;

    font-weight: 500;
}

.button-web {
    background-color: #fb565a;
}

.button-web:hover,
.button-web:focus {
    background-color: #e74246;
}

.button-web:active {
    background-color: #d7373b;
} 


.button-app {
    background-color: #00ca74;
}

.button-app:hover,
.button-app:focus {
    background-color: #00bc6c;
}

.button-app:active {
    background-color: #00aa62;
} 

.button-presentations {
    background-color: #efc84a;
}

.button-presentations:hover,
.button-presentations:focus {
    background-color: #eab534;
}

.button-presentations:active {
    background-color: #e5a722;
}

.write-button {
    width: 219px;
    padding: 16px 0;
}

.send-btn {
    padding: 16px 84px;

    font-weight: 500;
}

.btn-show {
    width: 260px;
    height: 50px;

    color: #000000;
    font-weight: 500;

    background-color: #eeeeee;
}

.btn-show:hover,
.btn-show:focus {
    background-color: #dfdfdf;
    border: none;
    outline: none;

    cursor: pointer;
}

.btn-show:active {
    color: rgba(40, 49, 54, 0.3);

    background-color: #d5d5d5;
    border: none;
    outline: none;
}

.item-price {
    width: 200px;
    margin: 0 auto;
    padding: 16px 0;
    margin-bottom: 40px;

    font-weight: 500;
    color: #ffffff;

    background-color: #fb565a;
}

.item-price:hover,
.item-price:focus {
    background-color: #e74246;
}

.item-price:active {
    background-color: #d7373b;
}


/*==================СТИЛИ ФОРМЫ==================*/
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes shake {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes shake {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.modal {
    position: fixed;

    display: none;

    color: #000000;

    background-color: #ffffff;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
    display: block;

    -webkit-animation: bounce 0.7s;
    animation: bounce 0.7s;
}

.modal-error {
    -webkit-animation: shake 0.7s;
    animation: shake 0.7s;
}

.modal-form {
    bottom: 17%;
    left: 50%;

    width: 760px;
    margin-left: -480px;
    padding-top: 65px;
    padding-right: 100px;
    padding-bottom: 85px;
    padding-left: 100px;

    z-index: 100;
}

.user-form-close {
    position: absolute;
    top: 78px;
    right: 90px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.user-form-close::before,
.user-form-close::after {
    position: absolute;
    content: "";
    top: 9px;
    left: -1px;

    width: 26px;
    height: 3px;

    background-color: rgba(251, 86, 90, 0.3);
    border-radius: 1px;
}

.user-form-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.user-form-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.user-form-close:hover::before,
.user-form-close:hover::after,
.user-form-close:focus::before,
.user-form-close:focus::after {
    background-color: rgba(251, 86, 90, 1);
}

.user-form-close:active::before,
.user-form-close:active::after {
    background-color: rgba(251, 86, 90, 0.1);
}


.modal-form h2 {
    margin: 0;
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.user-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-form .user-form-name,
.user-form .user-form-email {
    width: 360px;
    margin: 0;
    margin-bottom: 30px;
}

.user-form .user-form-text {
    width: 760px;
    margin: 0;
    margin-bottom: 40px;
}

.user-form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="text"]:required:valid,
.user-form input[type="email"]:required:valid,
.user-form textarea {
    margin: 0;
    padding: 14px 10px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.5);

    background-color: #ffffff;
    border: 2px solid #d7dcde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-form input[type="text"],
.user-form input[type="email"] {
    width: 360px;
}

.user-form textarea {
    width: 760px;
}

.user-form input[type="text"]:hover,
.user-form input[type="email"]:hover,
.user-form textarea:hover {
    border-color: #b4b9bb;
}

.user-form input[type="text"]:active,
.user-form input[type="email"]:active,
.user-form input[type="text"]:focus,
.user-form input[type="email"]:focus,
.user-form textarea:active,
.user-form textarea:focus {
    border-color: #000000;
    outline: 2px solid #000000;
}

.user-form input[type="text"]:invalid,
.user-form input[type="email"]:invalid {
    color: #e74246;
    border-color: #e74246;
}




