/*==================ОБЩИЕ СТИЛИ==================*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    background-color: transparent;
}



/*==================СТИЛИ HEADER И НАВИГАЦИИ==================*/
.main-header {
    background-color: #eeeeee;
    min-height: 545px;
    margin-bottom: 80px;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    padding-top: 48px;
    padding-bottom: 0;
    padding-right: 20px;
}

.logotype:hover,
.logotype:focus {
    opacity: 0.8;
}

.logotype:active {
    opacity: 0.3;
}

.main-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 520px;
}

.nav-items a,
.nav-basket {
    position: relative;
    display: block;
    padding-top: 75px;
    padding-right: 45px;
    padding-bottom: 0;
    vertical-align: middle;
    color: #000000;
}

.nav-items a:hover,
.nav-basket:hover,
.nav-items a:focus,
.nav-basket:focus {
    color: #fb565a;
    transition: 0.2s ease-in-out;
}

.nav-items a:active,
.nav-basket:active {
    color: rgba(0, 0, 0, 0.3);
}

.active-page::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 45px;
    height: 2px;
    background-color: #fb565a;
}

.nav-basket {
    position: relative;
    display: block;
    vertical-align: middle;
    padding-top: 75px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
}

.nav-basket::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -20px;
    width: 20px;
    height: 20px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.main-content-promo {
    position: relative;
    background-color: transparent;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.promo-slider {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
    padding: 78px 0 80px 0;
}

.slide:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 407px 1px;
}

.slide:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 409px 0;
}

.slide:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 411px 0;
}

#slide-1:checked ~ .promo-slider .slide:nth-child(1),
#slide-2:checked ~ .promo-slider .slide:nth-child(2),
#slide-3:checked ~ .promo-slider .slide:nth-child(3) {
  display: block;
}

#slide-1:checked ~ .slider-controls .slider-controls-item-1::before,
#slide-2:checked ~ .slider-controls .slider-controls-item-2::before,
#slide-3:checked ~ .slider-controls .slider-controls-item-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.promo-slider h2 {
    max-width: 600px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    margin-bottom: 27px;
}

.slide p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 39px;
}


/*==================СТИЛИ МЭЙНА==================*/
.container-wrap {
    margin-bottom: 80px;
}

.main-content-advantages {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 82px;
    background-color: transparent;
}

.main-content-advantages::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: #eeeeee;
}

.advantages-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantage-item {
    width: 300px;
    padding: 0;
    text-align: left;
    margin: 0 50px;
}

.advantage-item:first-child {
    margin-left: 0;
}

.advantage-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 15px;
}

.index-columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 51px;
}

.index-columns::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: #eeeeee;
}

.studio-info-left {
    width: 680px;
    padding-top: 35px;
}

.studio-info-left h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.studio-info-left h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
}

.studio-info-right {
    width: 360px;
    text-align: left;
}

.orders {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders li {
    margin: 24px 36px;
    position: relative;
}

.orders li::before {
    content: "";
    position: absolute;
    bottom: 11px;
    left: -26px;
    width: 25px;
    height: 2px;
    margin-left: -10px;
    background-color: #fb565a;
}

.studio-info-right h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-top: 29px;
    margin-bottom: 37px;
    margin-left: 17px;
}

.info-table-top th {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    padding-top: 18px;
    padding-right: 17px;
    padding-left: 0px;
    text-align: left;
}

.info-table-top sup {
    font-size: 28px;
}

.info-table-bottom th {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding-top: 35px;
}

.main-content-portfolio {
    position: relative;
}

.main-content-portfolio::after {
    content: "";
    position: absolute;
    bottom: 0px; 
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: #eeeeee;
}

.portfolio-list {
    display: flex;
    /*justify-content: space-around; */
    justify-content: space-between;
    flex-wrap: wrap;   
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1160px; 
}

.portfolio-list li {
    height: 182px;
}

.portfolio-logos {
    position: relative;
    height: 182px;
}

.portfolio-logos::before {
    content: "";
    position: absolute;
    bottom: 68px;
    left: -20px;
    height: 52px;
    width: 2px;
    background-color: #eeeeee;  
}

.portfolio-list img {
    opacity: 0.2;
    transition: opacity 0.7s ease;
}

.portfolio-list img:hover, 
.portfolio-list img:focus {
    opacity: 1;
}

.portfolio-list img:active {
    opacity: 0.1;
}

.main-content-map {
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 54px;
    background-image: url("../img/map-marker.png"), url("../img/map.png");
    background-repeat: no-repeat;
    background-position: 820px 89px, 0 -150px;
    max-width: 1440px;
}

.contacts {
    width: 270px;
    height: 308px;
    background-color: #ffffff;
    margin-left: 140px;
    padding-left: 50px;
}

.contacts h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 10px;
}

.contacts p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.contacts a {
    margin-top: 35px;
}




/*==================СТИЛИ СТРАНИЦЫ КАТАЛОГА==================*/
.inner-header {
    min-height: 355px;
    margin-bottom: 55px;
}


.catalog-columns {
    display: flex;
    justify-content: space-between;
}


/**************СТИЛИ ASIDE*************/
.filter-container {
    width: 320px;
    margin-right: 110px;
}

.filter-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-container li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #283136;
    padding: 10px 0;
}

.filter-item {
    padding: 0;
    border: none;
    width: 260px;
    margin-top: 5px;
    margin-bottom: 55px;
    margin-right: 20px;
}

.filter-title,
.filter-title-grid,
.filter-title-features {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}


/*****************************/
.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}
/*****************************/


.filter-price {
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 50px;
    justify-content: space-between;
}

.filter-price span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #283136;
    padding-top: 10px;
    text-transform: uppercase;
}

input[type="text"].price-min,
input[type="text"].price-max {
    width: 80px;
    height: 38px;
    text-align: center;
    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
}

.filter-install {
    border: none;
    margin: 0;
    padding: 0;
    width: 260px;  
}

.filter-install-grid {
    margin-bottom: 35px;
}

.filter-install-features {
    margin-bottom: 37px;
}

.filter-title-grid,
.filter-title-features {
    padding-bottom: 7px;
}


/*****************************************************/
input[type=radio]+.circle {
    background-image: url(../img/radio-off-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #283136;
}

input[type=radio]+.circle:hover {
    background-image: url(../img/radio-off-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #000000;
    transition: 0.7s ease-in-out;
}

input[type=radio]+.circle:disabled {
    background-image: url(../img/radio-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: rgba(40, 49, 54, 0.3);
}
/*****************************************************/

/*****************************************************/
input[type=radio]:checked + .circle {
    background-image: url(../img/radio-on-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #283136;
}

input[type=radio]:checked + .circle:hover {
    background-image: url(../img/radio-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #000000;
    transition: 0.7s ease-in-out;
}

input[type=radio]:checked + .circle:disabled,
input[type=radio]:disabled + .circle {
    background-image: url(../img/radio-on-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: rgba(40, 49, 54, 0.3);
}
/*****************************************************/

/*****************************************************/
input[type=checkbox]+ .check {
    background-image: url(../img/checkbox-off-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #283136;
}

input[type=checkbox]+ .check:hover {
    background-image: url(../img/checkbox-off-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #000000;
    transition: 0.7s ease-in-out;
}

input[type=checkbox]+ .check:disabled,
input[type=checkbox]:disabled + .check {
    background-image: url(../img/checkbox-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: rgba(40, 49, 54, 0.3);
}
/*****************************************************/

/*****************************************************/
input[type=checkbox]:checked + .check {
    background-image: url(../img/checkbox-on-peace.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #283136;
}

input[type=checkbox]:checked + .check:hover {
    background-image: url(../img/checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: #000000;
    transition: 0.7s ease-in-out;
}

input[type=checkbox]:checked + .check:disabled {
    background-image: url(../img/checkbox-on-disabled.svg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding: 10px 35px;
    color: rgba(40, 49, 54, 0.3);
}
/*****************************************************/


.catalog-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    padding-top: 79px;
    padding-bottom: 35px;
    margin: 0 auto;
    text-align: center;
    background-color: #eeeeee;
}

.portfolio-container {
    width: 800px; 
}

.portfolio-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
    max-width: 760px;
}

.portfolio-title {
    display: block;
    width: 360px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    padding-top: 5px;
}

.portfolio-items {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    padding-right: 9px;
}

.portfolio-items li {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    padding: 0 13px;
    
}

.portfolio-items li:first-child a {
	color: rgba(0, 0, 0, 1);
}

.portfolio-item {
    color: rgba(0, 0, 0, 0.3);
}

.control-arrows {
    display: inherit;
    width: 42px;
}

.control-arrow-active,
.control-arrow-down,
.control-arrow-up {
    display: block;
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
}

.control-arrow-down {
    background-image: url("../img/icon-down-dir-peace.svg");
    background-position: 0 8px;
    padding-right: 10px;
}

.control-arrow-down:hover {
    background-image: url("../img/icon-down-dir-hover.svg");
}

.control-arrow-down:active,
.control-arrow-active {
    background-image: url("../img/icon-down-dir-active.svg");
}

.control-arrow-up {
    background-image: url(../img/icon-up-dir-peace.svg);
    background-position: 4px 8px;
} 

.control-arrow-up:hover {
    background-image: url(../img/icon-up-dir-hover.svg);
}

.control-arrow-up:active {
    background-image: url(../img/icon-up-dir-active.svg);
}       

.portfolio-item:hover,
.portfolio-item:focus {
    color: rgba(0, 0, 0, 0.6);
}

.portfolio-item:active {
    color: rgba(0, 0, 0, 1);
}

.catalog-gallery-wrapper {
    width: 760px;
}

.catalog-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 25px; 
    list-style: none;
}

.catalog-item {
	position: relative;
    margin-bottom: 35px;
    padding-top: 40px;
    width: 360px;
    height: 575px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*.catalog-item-wrapper {
    position: relative;
    padding-top: 40px;
    width: 360px;
    height: 575px;
    background-color: #e9e9e9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.catalog-item-wrapper:hover,
.catalog-item-wrapper:focus {
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
    background-color: #4d4d4d;
    transition: 0.2s ease-in-out;
}*/

.catalog-item::before {
    position: absolute;
    content: url("../img/browser.svg");
    top: 0;
    left: 0;
    opacity: 0.3;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
}

/*.round {
    position: relative;
}

.round-1::after,
.round-2::after,
.round-3::after {
    content: "";
    position: absolute;
    bottom: 13px;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}

.round-1::after {
    left: 15px;
}

.round-2::after {
    left: 37px;
}

.round-3::after {
    left: 60px;
}*/

/*.catalog-item-wrapper .catalog-item-bottom {
    display: none;
    box-sizing: border-box;
    padding: 10px 60px;
    position: absolute;
    width: 360px;
    height: 230px;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #eeeeee;
}

.catalog-item-wrapper:hover .catalog-item-bottom {
    display: block;
    transition: opacity 0.2s ease;
}*/

.catalog-item .catalog-item-bottom {
    display: none;
    box-sizing: border-box;
    padding: 10px 60px;
    position: absolute;
    width: 360px;
    height: 230px;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-bottom {
    display: block;
    transition: opacity 0.2s ease;
}

.item-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-bottom p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 25px;
}

.pages {
    margin-top: 40px;
    margin-bottom: 76px;
    width: 460px;
}

.pages-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 12px 0;
    padding: 0;
}

.pages-items li {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 11px;
}

.item-page,
.next-page {
    color: #000000;
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: #eeeeee;
    border-radius: 2px;
}

.item-page:hover,
.next-page:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.item-page:focus,
.next-page:focus  {
	color: #000000;
    text-transform: uppercase;
    padding: 13px 18px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #dbdbdb;
    cursor: pointer;
}

.item-page:active,
.next-page:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.3);
}

.item-page-active {
	color: #000000;
    text-transform: uppercase;
    padding: 13px 18px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #dbdbdb;
}

.next-page {
    padding: 15px 78px;
}

.next-page:focus {
    padding: 13px 76px;
}



/*==================СТИЛИ ФУТЕРА==================*/
.main-footer {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #444444;
    background-color: #ffffff;
}

.main-footer .container {
    display: flex;
}

.footer-social {
    width: 262px;
    margin: 0;
    margin-right: 118px;
    padding-top: 19px;  
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
    color: #444444;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
    transition: 0.7s ease-in-out;
}

.social-button:active  {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.social-button-vkontacte {
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 26px 30px;
}

.social-button-vkontacte:active {
    background-image: url("../img/vk-icon-active.svg");
    background-repeat: no-repeat;
    background-position: 26px 30px;
}

.social-button-facebook {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 32px 28px;
}

.social-button-facebook:active {
    background-image: url("../img/fb-icon-active.svg");
    background-repeat: no-repeat;
    background-position: 32px 28px;
}

.social-button-instagram {
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 28px 28px;
}

.social-button-instagram:active {
    background-image: url("../img/insta-icon-active.svg");
    background-repeat: no-repeat;
    background-position: 28px 28px;
}

.footer-slogan {
    width: 560px;
    margin: 0 20px;
    padding-top: 20px;
}

.footer-slogan b {
    display: block;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    padding-top: 5px;
}

.footer-slogan p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 10px 0;
}



/*==================СТИЛИ КНОПОК==================*/
.button,
.btn {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
}

.button:active,
.btn:active {
    color: rgb(255, 255, 255);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.lern-more-button,
.write-button,
.long-btn {
    background-color: #fb565a;
}

.lern-more-button {
    width: 240px;
}

.lern-more-button:hover,
.write-button:hover,
.long-btn:hover,
.lern-more-button:focus,
.write-button:focus,
.long-btn:focus {
    background-color: #e74246;
}

.lern-more-button:active,
.write-button:active,
.long-btn:active {
    background-color: #d7373b;
}

.lern-more-button{
    padding: 16px 0;
}

.button-web,               
.button-app,
.button-presentations {
    font-weight: 500;
    margin-top: 20px;
    padding: 16px 0;
    margin-top: 32px;
    width: 160px;
}

.button-web {
    background-color: #fb565a;
}

.button-web:hover,
.button-web:focus {
    background-color: #e74246;
}

.button-web:active {
    background-color: #d7373b;
} 


.button-app {
    background-color: #00ca74;
}

.button-app:hover,
.button-app:focus {
    background-color: #00bc6c;
}

.button-app:active {
    background-color: #00aa62;
} 

.button-presentations {
    background-color: #efc84a;
}

.button-presentations:hover,
.button-presentations:focus {
    background-color: #eab534;
}

.button-presentations:active {
    background-color: #e5a722;
}

.write-button {
    padding: 16px 0;
    width: 220px;
}

.long-btn {
    padding: 15px 80px;
    font-weight: 500;
}

.btn-show {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    color: #000000;
    font-weight: 500;
}

.btn-show:hover,
.btn-show:focus {
    background-color: #dfdfdf;
    border:none;
	outline: none;
}

.btn-show:active {
    background-color: #d5d5d5;
    color: rgba(40, 49, 54, 0.3);
    border:none;
	outline: none;
}

.item-price {
    font-weight: 500;
    color: #ffffff;
    background-color: #fb565a;
    padding: 16px 0;
    margin: 0 auto;
    width: 200px;
}

.item-price:hover, 
.item-price:focus {
    background-color: #e74246;
}

.item-price:active {
    background-color: #d7373b;
}



/*==================СТИЛИ ФОРМЫ==================*/
.form-container {
	position: fixed;
    bottom: 166px;
    left: 50%;
    z-index: 30;
    display: none;
    width: 820px;
    height: 440px;
    margin-left: -480px; 
    padding: 75px 70px;
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    background-color: #ffffff;
}

.form-container-show {
	/*display: block;*/
}

.form-close {
	position: absolute;
    top: 78px;
    right: 90px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.form-close::before,
.form-close::after {
	content: "";
    position: absolute;
    top: 9px;
    left: -1px;
    width: 26px;
    height: 3px;
    background-color: red;
    border-radius: 1px;
}

.form-close::before {
	transform: rotate(45deg);
}

.form-close::after {
	transform: rotate(-45deg);
}



.form-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    padding: 0 27px;
}

.form-letter-wrap {
	display: flex;
	justify-content: space-between;
}



.form-letter input[type="text"],
.form-letter input[type="email"],
.form-letter textarea {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  padding: 10px 0;
}

.form-letter input[type="text"]:hover,
.form-letter input[type="email"]:hover,
.form-letter textarea:hover {
    border-color: #b4b9bb;
}

.form-letter input[type="text"]:active,
.form-letter input[type="email"]:active,
.form-letter input[type="text"]:focus,
.form-letter input[type="email"]:focus,
.form-letter textarea:active,
.form-letter textarea:focus {
    border-color: #000000;
}

.label-name {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
}


